* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #151e20;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 1140px;
}

.content .main-container {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.content .main-container .main-content {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 97%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem auto;
}

.content .main-container .main-content > h1 {
  color: #fff;
  margin: 3rem 0;
  background: none;
  text-align: center;
  font-size: 40px;
}

.content .main-container .main-content > h2 {
  color: #fff;
  margin-top: 10rem;
  background: none;
  text-align: center;
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  .content > .main-container > .main-content {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .content > .main-container > .main-content h1 {
    font-size: 28px;
  }
  .content > .main-container > .main-content h2 {
    font-size: 24px;
  }
}

.navbar-content {
  background-color: #151e20;
  border-bottom: 1px solid grey;
}

.navbar-content .navbar {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar-content .navbar > .container-fluid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.navbar-content .navbar-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-content .navbar-top-wrapper > .navbar-brand-container > .navbar-brand {
  margin: 0 0 1rem 1rem;
  color: #55b1c4;
  font-size: 32px;
}

.navbar-content .navbar-top-wrapper > .navbar-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-content .navbar-top-wrapper > .navbar-icon-container .nav-item {
  list-style: none;
}

.navbar-content .navbar-top-wrapper > .navbar-icon-container .nav-item > .nav-link {
  color: #fff;
}

.navbar-content .navbar-top-wrapper > .navbar-icon-container .nav-item > #logout {
  background-color: inherit;
  border: none;
  color: #fb5607;
  padding: 10px 20px;
}

@media screen and (max-width: 740px) {
  .navbar-top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .navbar-top-wrapper > .navbar-icon-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #151e20;
}

.menubar .nav-tabs .nav-link:focus,
.menubar .nav-tabs .nav-link:hover {
  border: none;
}

.menubar .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menubar .nav li > a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.menubar .nav li > a:hover {
  border: 1px solid inherit;
}

.menubar .nav li > .dropdown-menu {
  background-color: #151e20;
  width: 100%;
  text-align: center;
}

.menubar .nav li > .dropdown-item:hover {
  background-color: #000;
  color: white;
}

.menubar .nav .nav-item:hover {
  background-color: #000;
  color: white;
}

@media screen and (max-width: 629px) {
  .menubar .nav li > a {
    width: 100vw;
    overflow: hidden;
  }
  .link-1,
  .link-2,
  .link-3,
  .link-4 {
    display: none;
  }
  .nav {
    text-align: center;
  }
}

.breadcrumbs {
  width: 100%;
}

.breadcrumbs nav {
  margin: 1rem;
}

.breadcrumbs nav > ol > li > a {
  text-decoration: none;
  color: white;
}

.breadcrumbs nav > ol > li > a:hover {
  text-decoration: underline;
}

.main-content {
  border: 1px solid black;
  margin: 2rem auto;
  max-width: 1140px;
}

.main-content .login-title {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

.main-content #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content #contactForm #message-container {
  text-align: center;
  color: red;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
}

.main-content #contactForm .input-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 1rem auto 1rem auto;
}

.main-content #contactForm .input-content label {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.main-content #contactForm .input-content input {
  padding: 0.5rem;
}

.main-content #contactForm #submit {
  width: 80%;
  text-transform: uppercase;
  padding: 0.5rem;
  border: none;
  background-color: #fb5607;
  margin: 2rem auto;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section div > h2 {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 1rem 2rem 1rem;
  padding: 0.5rem;
  font-size: 22px;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-container .card {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
  width: 300px;
  margin: 0 2rem 2rem 2rem;
}

.products-container .card a {
  text-decoration: none;
}

.products-container .card > a > .image-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.products-container .card > a > .image-container .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.products-container .product-name {
  text-align: center;
  color: #000;
  font-size: 22px;
}

.products-container .product-price {
  text-align: center;
  color: #000;
  font-size: 16px;
}

.products-container .add-to-cart {
  background-color: #fb5607;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem;
}

.products-container .add-to-cart:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .products-container .card > a > .image-container {
    height: 200px;
  }
  .products-container .card > a > .image-container .image {
    height: 100%;
  }
  .products-container .product-name {
    margin-bottom: 5px;
  }
  .products-container .product-price {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .products-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-container .card {
    margin: 0 auto 2rem auto;
  }
}

.product-page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-page-top .product-header {
  margin: 1rem 1rem 1rem 2rem;
}

.product-page-top .search-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 2rem 1rem 1rem;
}

.product-page-top .search-product .search {
  padding: 0 1rem;
  border-right: none;
}

.product-page-top .search-product .search:focus {
  outline: none;
}

.product-page-top .search-product .search-button {
  padding: 0 0.5rem;
  border-left: none;
  background-color: #55b1c4;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4rem;
}

.product-card {
  width: 300px;
  margin: 2rem auto;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
}

.product-card .image-container {
  width: 300px;
  height: 400px;
  margin-bottom: 1rem;
}

.product-card .image-container .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-card .product-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.product-card .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-card .btn-container a .text-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .btn-container a .text-center .btn-primary {
  background-color: #fb5607;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: 100%;
}

.product-card .btn-container .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-card .btn-container .text-center .btn-secondary {
  width: 50%;
  text-transform: uppercase;
}

.product-card .btn-container .text-center .btn-danger {
  width: 50%;
  text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
  .card-container .product-card {
    width: 240px;
  }
  .card-container .product-card .image-container {
    width: 240px;
    height: 240px;
  }
  .card-container .product-card .product-link > .product-name {
    font-size: 24px;
  }
  .card-container .product-card .btn-container > .text-center > .btn-primary {
    width: 240px;
  }
}

@media screen and (max-width: 991px) {
  .main-container {
    width: 100vw;
  }
  .main-container .card-container {
    margin: 0;
    width: 100%;
    gap: 0 1rem;
  }
  .main-container .card-container .product-card {
    width: 300px;
  }
  .main-container .card-container .product-card .image-container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 870px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container .product-card {
    width: 400px;
  }
  .card-container .product-card .image-container {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 728px) {
  .product-page-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-page-top .product-header {
    margin: 1rem auto;
  }
  .product-page-top .search-product {
    margin: 0 auto;
  }
  .product-page-top .search-product .search {
    padding: 0.5rem;
  }
}

.main-container > .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 2rem;
}

.main-container > .product-info .column-one .product-title {
  text-transform: uppercase;
  margin: 2rem 0 2rem 2rem;
}

.main-container > .product-info .column-one .main-image {
  width: 400px;
  margin: 0 2rem;
}

.main-container > .product-info .column-two {
  margin-top: 8rem;
}

.main-container > .product-info .column-two .price {
  font-weight: bold;
}

.main-container > .product-info .column-two .description {
  width: 80%;
  margin-bottom: 5rem;
}

.main-container > .product-info .column-two .add-to-cart {
  background-color: #fb5607;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 30%;
}

.main-container > .product-info .column-two .add-to-cart:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1040px) {
  .main-container > .product-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main-container > .product-info .column-one {
    margin: 0 auto;
  }
  .main-container > .product-info .column-one .product-title {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
  }
  .main-container > .product-info .column-one .main-image {
    width: 500px;
    margin: 0 auto 5rem auto;
  }
  .main-container > .product-info .column-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .main-container > .product-info .column-two .price {
    font-weight: bold;
    text-align: center;
  }
  .main-container > .product-info .column-two .description {
    text-align: center;
    width: 80%;
    margin: 0 auto 5rem auto;
  }
  .main-container > .product-info .column-two .add-to-cart {
    background-color: #fb5607;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem;
    width: 30%;
    margin: 0 auto;
  }
  .main-container > .product-info .column-two .add-to-cart:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 550px) {
  .main-container > .product-info .column-one .product-title {
    font-size: 28px;
  }
  .main-container > .product-info .column-one .main-image {
    width: 400px;
    margin: 0 auto 3rem auto;
  }
  .main-container > .product-info .column-two .description {
    font-size: 14px;
  }
  .main-container > .product-info .column-two .add-to-cart {
    font-size: 14px;
  }
}

.main-container > .cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 2rem;
}

.main-container > .cart-container .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.main-container > .cart-container .cart-item .section-1 {
  padding: 0 1rem;
  border-left: 1px solid black;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > .cart-container .cart-item .section-1 .cart-product-image {
  width: 200px;
  height: auto;
}

.main-container > .cart-container .cart-item .section-2 {
  padding: 0 1rem;
  border-left: 1px solid black;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > .cart-container .cart-item .section-2 .product-detail-link {
  text-decoration: none;
  color: inherit;
}

.main-container > .cart-container .cart-item .section-2 .product-detail-link .cart-item-name {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.main-container > .cart-container .cart-item .section-2 .product-detail-link:hover {
  text-decoration: underline;
}

.main-container > .cart-container .cart-item .section-3 {
  padding: 0 1rem;
  border-left: 1px solid black;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > .cart-container .cart-item .section-3 .cart-item-count {
  width: 50px;
  text-align: center;
}

.main-container > .cart-container .cart-item .section-4 {
  padding: 0 1rem;
  border-left: 1px solid black;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > .cart-container .cart-item .section-4 .cart-item-price {
  text-transform: uppercase;
  margin: 0;
}

.main-container > .cart-container .cart-item .section-5 {
  padding: 0 1rem;
  border-left: 1px solid black;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > .cart-container .cart-item .section-5 .cart-item-remove {
  text-transform: uppercase;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.main-container > .cart-container .cart-empty {
  text-align: center;
  width: 100%;
  font-size: 32px;
  text-transform: uppercase;
}

.checkout {
  background-color: #fb5607;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 180px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
}

.checkout:hover {
  opacity: 0.5;
}

.main-container {
  padding-bottom: 4rem;
}

.main-container .add-title {
  margin: 2rem;
}

.main-container #addForm {
  width: 600px;
  padding: 2rem;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
}

.main-container #addForm .form-control {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .main-container > #addForm {
    width: 400px;
  }
}

.footer {
  width: 100%;
  background-color: #f7fe72;
}

.footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin: 2rem 1rem;
}

.footer-wrapper .footer-section h3 {
  background-color: none;
  font-size: 22px;
}

.footer-wrapper .footer-section hr {
  height: 2px;
}

.footer-wrapper .footer-section a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.footer-wrapper .footer-section p {
  color: black;
  font-size: 16px;
  margin: 0;
}

.footer-wrapper .footer-section h2 {
  font-size: 32px;
}

.footer-wrapper .footer-section p:hover {
  text-decoration: underline;
}

.footer-wrapper .footer-section a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-wrapper .footer-section {
    margin: 2rem auto;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */