* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #151e20;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1140px;
}

.content .main-content {
  background-image: url("/images/home-page/main-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}

.content .main-content > h1 {
  color: #55b1c4;
  margin: 3rem 0;
  background: none;
  text-align: center;
}

.content .main-content > h2 {
  color: #bbbbbb;
  margin: 10rem 0 0 0;
  background: none;
  text-align: center;
}

.navbar-content {
  background-color: #151e20;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar-content > .navbar > .container-fluid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.navbar-content > .navbar > .container-fluid .navbar-brand {
  margin: 0 auto 1rem auto;
  color: #55b1c4;
  font-size: 40px;
}

.navbar-content > .navbar > .container-fluid .search-container {
  width: 100%;
  margin: 0 auto 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-content > .navbar > .container-fluid .search-container input {
  width: 100%;
  height: 3rem;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid yellow;
  background-color: #27363a;
}

.navbar-content > .navbar > .container-fluid .search-container textarea,
.navbar-content > .navbar > .container-fluid .search-container input {
  outline: none;
  color: white;
}

.navbar-content > .navbar > .container-fluid .search-container button {
  margin-left: -75px;
  padding: 0 10px;
  border: 1px solid yellow;
  border-left: none;
  background-color: #27363a;
  color: #bbbbbb;
  cursor: default;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #151e20;
}

.menubar .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menubar .nav li > a {
  text-decoration: none;
  color: #bbbbbb;
  font-family: "Roboto", sans-serif;
}

.menubar .nav li > .dropdown-menu {
  background-color: #151e20;
}

.menubar .nav li > .dropdown-item:hover {
  background-color: black;
  color: white;
}

.menubar .nav .nav-item:hover {
  background-color: black;
  color: white;
}

.breadcrumbs {
  width: 100%;
}

.breadcrumbs nav {
  margin: 1rem;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .best-offer > h2 {
  background-color: #f7fa47;
  text-align: center;
  margin-bottom: 2rem;
}

.section .best-seller > h2 {
  background-color: teal;
  text-align: center;
  margin-bottom: 2rem;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-container .card {
  border: 1px solid rgba(255, 255, 255, 0.164);
  width: 300px;
  margin: 0 50px 100px 50px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.055);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.055);
  background-color: #151e20;
}

.products-container .card > .image-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.products-container .card > .image-container .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.products-container .product-name {
  text-align: center;
  color: #bbbbbb;
}

.products-container .product-price {
  text-align: center;
  color: #bbbbbb;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.164);
  width: 300px;
  margin-bottom: 100px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.055);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.055);
}

.product-card .image-container {
  width: 100%;
  height: 300px;
}

.product-card .image-container .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-card .product-name {
  text-align: center;
}

.product-card .product-price {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #ffd650;
}

.footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin: 2rem 1rem;
}

.footer-wrapper .footer-section h3 {
  background-color: none;
  font-size: 22px;
}

.footer-wrapper .footer-section hr {
  height: 2px;
}

.footer-wrapper .footer-section a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.footer-wrapper .footer-section h2 {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */