@import "partials/base";
@import "partials/custom";
@import "partials/product-card";

body {
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
