* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

body {
  background-color: $secondary-color;
}

.content {
  margin: 0 auto;
  max-width: 1140px;

  .main-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    .main-content {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 97%;
      height: 50vh;
      object-fit: cover;
      margin: 1rem auto;
    }
    .main-content > h1 {
      color: $primary-color;
      margin: 3rem 0;
      background: none;
      text-align: center;
      font-size: $header-primary;
    }
    .main-content > h2 {
      color: $header-color;
      margin: 15rem 0 0 0;
      background: none;
      text-align: center;
      font-size: $header-secondary;
    }
  }
}
