// variable

$primary-color: #55b1c4;
$secondary-color: #151e20;
$third-color: #27363a;
$text-color: #fff;
$header-color: #fff;
$cta-color: #fb5607;
$footer-color: #f7fe72;
$hover-color: #000;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;

$header-primary: 40px;
$header-secondary: 32px;
$header-third: 22px;
$text-primary: 16px;
$cta-text: 20px;
