// variable

$primary-color: #55b1c4;
$secondary-color: #151e20;
$third-color: #27363a;
$text-color: #bbbbbb;
$header-color: #fff;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
