.footer {
  width: 100%;
  background-color: $footer-color;
}

.footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  .footer-section {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2rem 1rem;
    h3 {
      background-color: none;
      font-size: $header-third;
    }
    hr {
      height: 2px;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: $text-primary;
    }
    p {
      color: black;
      font-size: $text-primary;
      margin: 0;
    }
    h2 {
      font-size: $header-secondary;
    }
    p:hover {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media screen and(max-width:900px ) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    .footer-section {
      margin: 2rem auto;
    }
  }
}
