.navbar-content {
  background-color: $secondary-color;
  border-bottom: 1px solid grey;
  .navbar {
    max-width: 1140px;
    margin: 0 auto;
  }
  .navbar > .container-fluid {
    flex-direction: column;
    padding: 0;
  }

  .navbar-top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-top-wrapper > .navbar-brand-container > .navbar-brand {
    margin: 0 0 1rem 0;
    color: $primary-color;
    font-size: $header-secondary;
  }

  .navbar-top-wrapper > .navbar-icon-container {
    display: flex;
    .nav-item {
      list-style: none;
    }
    .nav-item > .nav-link {
      color: $text-color;
    }
    .nav-item > #logout {
      background-color: inherit;
      border: none;
      color: $cta-color;
      padding: 10px 20px;
    }
  }

  .search-container {
    width: 100%;
    margin: 0 auto 0.5rem auto;
    display: flex;

    input {
      width: 100%;
      height: 2.5rem;
      padding: 5px;
      padding-left: 20px;
      border: 1px solid $cta-color;
      background-color: $third-color;
    }
    textarea,
    input {
      outline: none;
      color: $text-color;
    }
    button {
      margin-left: -75px;
      padding: 0 10px;
      border: 1px solid $cta-color;
      border-left: none;
      background-color: $third-color;
      color: $text-color;
      cursor: default;
    }
  }
}
