.main-container > .cart-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem;
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    .section-1 {
      padding: 0 1rem;
      border-left: 1px solid black;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      .cart-product-image {
        width: 200px;
        height: auto;
      }
    }
    .section-2 {
      padding: 0 1rem;
      border-left: 1px solid black;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-item-name {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
    }
    .section-3 {
      padding: 0 1rem;
      border-left: 1px solid black;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-item-count {
        width: 50px;
        text-align: center;
      }
    }
    .section-4 {
      padding: 0 1rem;
      border-left: 1px solid black;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-item-price {
        text-transform: uppercase;
        margin: 0;
      }
    }
    .section-5 {
      padding: 0 1rem;
      border-left: 1px solid black;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-item-remove {
        text-transform: uppercase;
        border: none;
        background: none;
        color: red;
        cursor: pointer;
      }
    }
  }
}
